// Navigation code here
.navigation{
    .displayColumn();
    padding: 10px 0 0 0;
    background:@nav-bg;
    border:1px solid @nav-border;
    h1{
        text-align: center;
    }

    nav{
        margin: 5px 0;
        display:flex;
        justify-content: center;
    }

    a{
        padding:5px 10px;
        font-size: 1.6rem;
        text-decoration: none;
        color:@nav-font;

        &:hover{
            background:black;
            color:white;
        }
      }
}